* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Open Sans, YuGothic, sans-serif;
}

/* giao diện tối */
:root {
    --background-color: #ffb400;
    --brown-color: #a7a1a1;
    --boxshadow-color: 0 0 7px rgb(0 0 0 / 90%);
    --white-hover-color: #fff;
    --green-color: #72b626;
    --background-boder: #252525;
    --background-hover: hsl(0, 0%, 0%, 0.5);
    --nav-color: #2b2a2a;
    --white-color: #fff;
    --black-color: #000000;
    --black-07: hsla(0, 0%, 100%, 0.07);
    --border-color: #000000;
    --icon-color: #fff;
}

/* giao diện sáng */
.light {
    --background-color: #72b626;
    --white-color: hsl(0, 0%, 0%, 0.7);
    --black-color: #fff;
    --background-boder: #eee;
    --nav-color: #eee;
    --black-07: #1e253012;
    --background-hover: hsl(0, 0%, 0%, 0.25);
    --border-color: hsl(0, 0%, 0%, 0.3);
}

.App {
    text-align: center;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* set */
::-webkit-scrollbar-thumb {
    background: var(--background-color);
    background-clip: content-box;
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background: #a7a1a1;
}

::-webkit-scrollbar {
    width: 0.6rem;
}

@keyframes animation-app-delay {
    from {
        height: 100%;
    }
    to {
        height: 0;
    }
}

/* responsive */
@media screen and (max-width: 1449px) {
    /* project */
    .project-container .project-container-body-items div {
        width: 47%;
        height: 24rem;
        margin: 2rem 1.4rem;
    }

    .project-container .project-container-wrapper-box {
        z-index: 10;
        width: 84%;
    }

    .project-container .project-container-wrapper-box-item-imgs {
        width: 86%;
    }

    .project-container .project-container-wrapper-box-item-imgs-img {
        width: 0;
        height: 22rem;
    }

    /* about */
    .about-container .about-container-wrapper-title {
        margin: 1rem 8rem 4rem;
    }
    .about-container .about-container-wrapper-left {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about-container .about-container-wrapper-left-col {
        width: 40%;
    }

    .about-container .about-container-wrapper-right {
        width: 100%;
        margin-top: 6rem;
        display: flex;
        justify-content: center;
    }

    .about-container .about-container-wrapper-right-col {
        width: 38%;
        margin: 0 2.8rem;
    }
    .about-container .about-container-wrapper-skill-items-item {
        width: 31%;
    }
}

/* Nest Hub Max - 1280 x 800 */
@media screen and (max-width: 1281px) {
    /* navbar */
    .navbar-container .navbar-container-menu-item::before {
        width: 5.3rem;
    }

    /* project */
    .project-container .project-container-body {
        padding: 2rem 12rem;
    }
    .project-container .project-container-body-items div {
        width: 46%;
        height: 22rem;
    }
}

@media screen and (max-width: 1205px) {
    /* navbar */
    .navbar-container .navbar-container-menu-item::before {
        width: 5.3rem;
    }

    /* home */
    .home-container .home-container-wrapper-description {
        width: 58%;
    }

    /* project */
    .project-container .project-container-body {
        padding: 2rem 8rem;
    }
    .project-container .project-container-body-items div {
        width: 46%;
        height: 21rem;
    }

    /* about */
    .about-container .about-container-wrapper-skill-items-item {
        width: 30%;
    }
}

/* Nest Hub - 1024 x 600 */
@media screen and (max-width: 1025px) {
    /* navbar */
    .App .navbar-container {
        width: 100%;
        height: 6rem;
        flex-direction: row;
        bottom: 0;
        background: var(--nav-color);
        padding: 4rem;
        justify-content: center;
    }

    .navbar-container .navbar-container-menu {
        display: flex;
    }

    .navbar-container .navbar-container-bulb,
    .navbar-container .navbar-container-menu-item {
        margin: 1rem 6rem;
        background: var(--background-boder);
    }
    .navbar-container .navbar-container-menu-item-title {
        display: none;
    }

    .navbar-container .navbar-container-menu-item::before {
        display: none;
    }

    .navbar-container .navbar-container-menu-item::after {
        display: none;
    }

    /* home */
    .home-container .home-container-wrapper {
        position: relative;
        padding: 0 0 10rem;
        display: block;
        margin: 0 auto;
    }

    .home-container .home-container-wrapper-img {
        position: relative;
        width: 100%;
        height: 34rem;
        margin: 0;
    }

    .home-container .home-container-wrapper-img img {
        width: 30rem;
        height: 28rem;
        border-radius: 50%;
    }

    .home-container .home-container-block {
        display: none;
    }

    .home-container .home-container-wrapper-description {
        width: 100%;
        padding: 0 16rem;
    }

    .home-container .home-container-wrapper-description-wrapper a span {
        z-index: 2;
    }

    .home-container .home-container-wrapper-description-title {
        justify-content: center;
    }

    .home-container .home-container-wrapper-description-title svg {
        display: none;
    }

    /* project */
    .project-container .project-container-body {
        padding-bottom: 6rem;
    }

    .project-container .project-container-body {
        padding: 2rem 4rem;
    }

    .project-container .project-container-wrapper-box-item-imgs {
        width: 92%;
    }

    .project-container .project-container-wrapper-box {
        width: 94%;
        top: 2rem;
    }

    .project-container .project-container-wrapper-box-item {
        padding-bottom: 1rem;
    }

    .project-container .project-container-wrapper-box-item-left-prev {
        left: -2.2rem;
    }

    .project-container .project-container-wrapper-box-item-left-next {
        right: -2.2rem;
    }

    /* about */
    .about-container .about-container-wrapper {
        padding: 0 0 8rem;
    }

    .about-container .about-container-wrapper-education-items {
        margin-left: 6rem;
    }

    /* contact */
    .contact-container .contact-container-wrapper {
        padding: 2rem 6rem 10rem;
    }

    .contact-container .contact-container-wrapper-left-title span {
        padding-right: 2rem;
    }

    .contact-container .contact-container-wrapper-right-btn a span {
        z-index: 2;
    }
}

/* Surface Pro7 - 912 x 1368 */
@media screen and (max-width: 913px) {
    /* home */
    .home-container .home-container-wrapper {
        padding: 8rem 0 28rem;
    }

    .home-container .home-container-wrapper-description {
        padding: 0px 14rem;
    }

    /* project */
    .project-container .project-container-wrapper-box {
        top: 34rem;
    }

    /* contact */
    .contact-container .contact-container-wrapper {
        display: block;
    }

    .contact-container .contact-container-wrapper-left {
        width: 100%;
    }

    .contact-container .contact-container-wrapper-right {
        width: 100%;
        margin: 3rem 0 0;
    }

    .contact-container .contact-container-wrapper-right-btn {
        justify-content: center;
        margin: 1.4rem 0 0;
    }

    .contact-container .contact-container-wrapper-right-info-des {
        margin: 1.4rem 0;
        height: 6rem;
    }

    .contact-container .contact-container-wrapper-right-info-message {
        min-height: 32rem;
    }
}

/* iPad Air - 820 x 1180 */
@media screen and (max-width: 821px) {
    /* home */
    .home-container .home-container-wrapper {
        padding: 2rem 0 12rem;
    }

    .home-container .home-container-wrapper-description {
        padding: 0px 12rem;
    }

    /* project */
    .project-container .project-container-wrapper-box-item-imgs {
        height: 20rem;
    }

    .project-container .project-container-wrapper-box-item-imgs-img {
        height: 18rem;
    }

    .project-container .project-container-wrapper-box-item-left-icon {
        height: 20rem;
    }

    .project-container .project-container-wrapper-box-item-right span {
        padding: 0.4rem 0;
    }
}

/* iPad Mini - 768 x 1024 */
@media screen and (max-width: 769px) {
    /* project */
    .project-container .project-container-body {
        padding: 2rem 2rem 8rem;
    }

    .project-container .project-container-wrapper-box-item-slide {
        height: 6rem;
    }
}

/* Suface Duo - 540 x 720 */
@media screen and (max-width: 541px) {
    /* navbar */
    .navbar-container .navbar-container-bulb {
        margin: 0 2rem;
    }
    .navbar-container .navbar-container-menu-item {
        margin: 0 2rem;
    }

    /* home */
    .home-container .home-container-wrapper-description {
        padding: 0 4rem;
    }

    /* project */
    .project-container .project-container-title {
        padding: 6rem 0;
    }
    .project-container .project-container-body ul {
        flex-wrap: wrap;
    }
    .project-container .project-container-body ul li {
        width: 42%;
        padding: 1.4rem 1rem;
        margin: 1rem;
    }

    .project-container .project-container-title span.project-container-title-block {
        font-size: 10rem;
    }

    .project-container .project-container-title h1 {
        font-size: 5rem;
    }

    .project-container .project-container-title h1 span {
        font-size: 5rem;
    }

    .project-container .project-container-body-items div {
        width: 100%;
        height: 23rem;
    }

    .project-container .project-container-wrapper-box {
        top: 3rem;
    }

    .project-container .project-container-wrapper-box {
        height: 85%;
    }

    .project-container .project-container-wrapper-box-item {
        width: 100%;
    }

    .project-container .project-container-wrapper-box-item {
        flex-wrap: wrap;
        overflow-y: auto;
    }

    .project-container .project-container-wrapper-box-item-left {
        margin-right: 0;
    }

    .project-container .project-container-wrapper-box-item-left {
        width: 100%;
    }

    .project-container .project-container-wrapper-box-item-right {
        width: 100%;
    }

    .project-container .project-container-wrapper-box-item-imgs {
        width: 91%;
    }

    .project-container .project-container-wrapper-box-item-imgs-img {
        height: 20rem;
    }

    /* about */
    .about-container .about-container-title {
        padding: 6rem 0;
    }

    .about-container .about-container-title span.about-container-title-block {
        font-size: 10rem;
    }

    .about-container .about-container-title h1 {
        font-size: 5rem;
    }

    .about-container .about-container-title h1 span {
        font-size: 5rem;
    }

    .about-container .about-container-wrapper-title {
        margin: 1rem 8rem 2rem 5rem;
    }

    .about-container .about-container-wrapper-left-col p:nth-child(4) span {
        display: block;
    }

    .about-container .about-container-wrapper-left-col p:nth-child(5) span {
        display: block;
    }

    .about-container .about-container-wrapper-skill h3 {
        margin: 6rem 0 2rem;
    }

    .about-container .about-container-wrapper-skill-items-item {
        width: 50%;
        margin: 3rem 0;
    }

    .about-container .about-container-wrapper-education-items {
        margin-left: 1rem;
    }

    /* contact */
    .contact-container .contact-container-title {
        padding: 6rem 0;
    }

    .contact-container .contact-container-title span.contact-container-title-block {
        font-size: 10rem;
    }

    .contact-container .contact-container-title h1 {
        font-size: 5rem;
    }

    .contact-container .contact-container-title h1 span {
        font-size: 5rem;
    }
}

/* Iphone XR - 414 x 896 */
/* Samsum Galaxy S20 Ultra, Samsum Galaxy A51/71 - 412 x 915 */
@media screen and (max-width: 415px) {
    /* navbar */
    .navbar-container .navbar-container-menu-item {
        margin: 0 1.6rem;
    }

    /* home */
    .home-container .home-container-wrapper-description h1 {
        font-size: 3.4rem;
    }

    .home-container .home-container-wrapper-description h1 span {
        font-size: 2.6rem;
        text-align: center;
    }

    .home-container .home-container-wrapper-description {
        padding: 0 1.4rem;
    }

    .home-container .home-container-wrapper-description-wrapper a span {
        left: 4rem;
    }

    .home-container .home-container-wrapper-description-wrapper-btn {
        left: -7.6rem;
    }

    /* project, about, contact */
    .project-container .project-container-title,
    .about-container .about-container-title,
    .contact-container .contact-container-title {
        padding: 4rem 0;
    }

    .project-container .project-container-title span.project-container-title-block,
    .about-container .about-container-title span.about-container-title-block,
    .contact-container .contact-container-title span.contact-container-title-block {
        font-size: 8rem;
    }

    .project-container .project-container-title h1,
    .project-container .project-container-title h1 span,
    .about-container .about-container-title h1,
    .about-container .about-container-title h1 span,
    .contact-container .contact-container-title h1,
    .contact-container .contact-container-title h1 span {
        font-size: 4rem;
    }

    /* project */
    .project-container .project-container-body ul li {
        width: 90%;
        padding: 2rem 1rem;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .project-container .project-container-body-items div {
        height: 18rem;
    }

    .project-container .project-container-wrapper-box-item-imgs {
        margin: 2rem auto 0;
    }

    .project-container .project-container-wrapper-box-item-imgs-img {
        height: 16rem;
    }

    .project-container .project-container-wrapper-box-item-left-icon {
        height: 16rem;
    }

    .project-container .project-container-wrapper-box-item-right {
        margin-left: 0;
        padding-bottom: 2rem;
    }

    /* about */
    .about-container .about-container-wrapper-left {
        flex-wrap: wrap;
    }

    .about-container .about-container-wrapper-left-col {
        width: 100%;
    }

    .about-container .about-container-wrapper-left {
        padding-left: 5rem;
    }

    .about-container .about-container-wrapper-left-col p:nth-child(4) span,
    .about-container .about-container-wrapper-left-col p:nth-child(5) span {
        display: inline-block;
    }

    .about-container .about-container-wrapper-education {
        padding: 0 1rem;
    }

    .about-container .about-container-wrapper-education-items-icon {
        width: 6rem;
    }

    /* contact */
    .contact-container .contact-container-wrapper {
        padding: 2rem 2.4rem 10rem;
    }

    .contact-container .contact-container-wrapper-right-info-message {
        min-height: 26rem;
    }
}

/* Pixel 5 - 393 x 851 */
/* Iphone 12 Pro - 390 x 844 */
@media screen and (max-width: 394px) {
    /* project, about, contact */
    .project-container .project-container-title span.project-container-title-block,
    .about-container .about-container-title span.about-container-title-block,
    .contact-container .contact-container-title span.contact-container-title-block {
        font-size: 7rem;
    }

    .project-container .project-container-wrapper-box-item-slide {
        height: 4rem;
    }
}

/* Iphone SE - 375 x 667 */
@media screen and (max-width: 376px) {
    /* project */
    .project-container .project-container-body-items div {
        height: 15rem;
    }

    .project-container .project-container-wrapper-box-item-imgs {
        height: 16rem;
    }

    .project-container .project-container-wrapper-box-item-imgs-img,
    .project-container .project-container-wrapper-box-item-left-icon {
        height: 14rem;
    }
}

/* Samsum Galaxy S8+ - 360 x 740 */
@media screen and (max-width: 361px) {
    /* navbar */
    .navbar-container .navbar-container-menu-item {
        margin: 0 1.2rem;
    }

    /* home */
    .home-container .home-container-wrapper-description-wrapper {
        flex-wrap: wrap;
    }

    .home-container .home-container-wrapper-description-wrapper a {
        width: 22rem;
        height: 6rem;
    }

    .home-container .home-container-wrapper-description-wrapper-btn {
        left: -10rem;
    }

    .home-container .home-container-wrapper-description-wrapper-btn::before {
        width: 5.8rem;
        height: 5.8rem;
        top: -0.4rem;
        left: -0.9rem;
    }

    .home-container .home-container-wrapper-description-wrapper a span {
        left: 7rem;
        font-size: 1.8rem;
    }

    /* about */
    .about-container .about-container-wrapper-title {
        margin: 1rem 7rem 2rem 5rem;
    }

    .about-container .about-container-wrapper-education-items-icon {
        width: 7rem;
    }

    .about-container-wrapper-education-items-description {
        margin-left: 1rem;
    }
}

/* Galaxy Fold - 280 x 653 */
@media screen and (max-width: 361px) {
    /* navbar */
    .navbar-container .navbar-container-bulb,
    .navbar-container .navbar-container-menu-item {
        margin: 0 0.2rem;
    }

    .navbar-container .navbar-container-bulb {
        padding: 1.4rem 2.4rem;
    }

    /* home */
    .home-container .home-container-wrapper-img img {
        width: 26rem;
        height: 26rem;
    }

    .home-container .home-container-wrapper-description h1 {
        font-size: 2.6rem;
    }

    .home-container .home-container-wrapper-description h1 span {
        font-size: 2.2rem;
    }

    /* project, about, contact */
    .project-container .project-container-title span.project-container-title-block,
    .about-container .about-container-title span.about-container-title-block,
    .contact-container .contact-container-title span.contact-container-title-block {
        font-size: 4.6rem;
    }

    .project-container .project-container-title h1,
    .project-container .project-container-title h1 span,
    .about-container .about-container-title h1,
    .about-container .about-container-title h1 span,
    .contact-container .contact-container-title h1,
    .contact-container .contact-container-title h1 span {
        font-size: 3rem;
    }

    /* project */
    .project-container .project-container-body {
        padding: 2rem 1rem 8rem;
    }

    .project-container .project-container-body ul li {
        width: 100%;
    }

    .project-container .project-container-body-items div {
        height: 11.2rem;
    }

    .project-container .project-container-wrapper-box-item-imgs-img,
    .project-container .project-container-wrapper-box-item-left-icon {
        height: 10rem;
    }

    .project-container .project-container-wrapper-box-item-imgs {
        height: 12rem;
    }

    /* about */
    .about-container .about-container-wrapper-title {
        margin: 1rem 2rem 2rem 2rem;
    }

    .about-container .about-container-wrapper-left {
        padding-left: 2rem;
    }

    .about-container .about-container-wrapper-right-col {
        width: 42%;
        margin: 0 1rem;
    }

    .about-container .about-container-wrapper-right-col {
        padding: 28px 20px 20px 10px;
        height: 22rem;
    }

    .about-container .about-container-wrapper-education-items-icon {
        width: 9rem;
    }

    .about-container .about-container-wrapper-education-items-description {
        margin-left: 1rem;
    }

    /* contact */
    .contact-container .contact-container-wrapper {
        padding: 2rem 1.4rem 10rem;
    }

    .contact-container .contact-container-wrapper-left-item p {
        font-size: 1.5rem;
        margin-left: 0.8rem;
    }

    .contact-container .contact-container-wrapper-right-info {
        flex-wrap: wrap;
    }

    .contact-container .contact-container-wrapper-right-info-des {
        width: 100%;
        margin-right: 0 !important;
        height: 5rem;
    }
}
